body {
  font-family: sans-serif;
}

.content {
  max-width: 700px;
  padding: 1rem;
}

.filter-box {
  padding: 1rem;
  background-color: #f9ed9a;
  max-width: 700px;
}

.filter-box_title {
  margin-top: 0;
}

.form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.form_fields {
  display: flex;
}

@media all and (max-width: 500px) {
  .form_fields {
    flex-direction: column;
  }
}

.form_group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.navlink {
  margin-right: 1rem;
}
